.articles-PieMenu-component {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10000;
}